= simple_form_for [:admin, @page], html: {class: 'form-horizontal' }, wrapper: :bootstrap do |f|
  = f.input :title
  = f.input :text
  = f.input :position, collection: Page::POSITIONS
  = f.input :enabled
  = f.button :submit
  = link_to 'Cancel', admin_pages_path, class: 'btn btn-default'
