!!!
%html
  %head
    %meta{:charset => "utf-8"}/
  %body
    %h1 Поступил новый заказ
    -if !@order.name.empty?
      %dl.dl-horizontal
        %dt Имя
        %dd
          =@order.name

    -if !@order.email.empty?
      %dl.dl-horizontal
        %dt E-mail
        %dd
          =@order.email

    -if !@order.phone.empty?
      %dl.dl-horizontal
        %dt Телефон
        %dd
          =@order.phone

    -if !@order.zip.empty?
      %dl.dl-horizontal
        %dt Индекс
        %dd
          =@order.zip

    -if !@order.city.empty?
      %dl.dl-horizontal
        %dt Город
        %dd
          =@order.city

    -if !@order.address.empty?
      %dl.dl-horizontal
        %dt Адрес
        %dd
          =@order.address

    -if !@order.comment.empty?
      %dl.dl-horizontal
        %dt Коментарий
        %dd
          =@order.comment

    %dl.dl-horizontal
      %dt Статус
      %dd
        = @order.state

    %dl.dl-horizontal
      %dt Ссылка на заказ
      %dd
        ="#{Settings.site_url}orders/#{@order.secure_key}"

    %table.table.table-condensed
      %tr
        %td Товар
        %td Цена
        %td Количество
        %td Сумма
      -@order.cart.cart_items.all.each do |item|
        %tr
          %td
            =item.product.name
          %td
            %small
              = item.product.price_str
          %td
            %small
              = item.quantity
          %td
            %small
              = item.variant.price_str(item.quantity)
