- model_class = Cart
.page-header
	%h1 Корзина

-if @current_cart.cart_items.count>0
	%table.table.table-condensed
		-@current_cart.cart_items.all.each do |item|
			%tr
				= form_for item, method:'patch' do |f|
					%td
						=link_to product_path(item.product) do
							=image_tag item.product.images.first.image.url(:thumb)
					%td
						=link_to item.product.name, product_path(item.product)
					%td
						%small
							= item.product.price_str
					%td
						.input-group.input-group-sm#quantity
							=f.text_field :quantity, class:'form-control'
							%span.input-group-btn
								%button.btn.btn-xs{type:'submit'}
									%span.glyphicon.glyphicon-refresh
					%td
						%small
							= item.variant.price_str(item.quantity)
				%td
					=button_to item, :method => :delete, class:'btn btn-danger btn-xs' do
						%span.glyphicon.glyphicon-trash
						Удалить
	%hr
	=link_to 'Оформить заказ', "#", class:'btn btn-primary', 'data-toggle'=>"modal", 'data-target'=>"#order-info"
	=#link_to 'Продолжить покупки', "", class:'btn btn-primary'

	#order-info.modal
		.modal-dialog
			.modal-content
				=form_for @order do |f|
					=f.hidden_field :cart_id
					.modal-header
						%button.close{ "data-dismiss"=>"modal", "aria-hidden"=>"true"}
							&times;
						%h4.modal-title Оформление заказа
					.modal-body
						- if @order.errors.any?
							.alert.alert-danger
								%h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
								%ul
									- @order.errors.full_messages.each do |msg|
										%li= msg
						= form_for @order, class:'form-horizontal' do |f|
							.row
								.col-md-5.col-md-offset-1
									.form-group
										%label.control-label Фамилия, имя
										=f.text_field :name, class:'form-control input-block-level'
									.form-group
										%label.control-label E-Mail
										=f.text_field :email, class:'form-control input-block-level'
									.form-group
										%label.control-label Телефон
										=f.text_field :phone, class:'form-control input-block-level'
								.col-md-5.col-md-offset-1
									.form-group
										%label.control-label Индекс
										=f.text_field :zip, class:'form-control input-block-level'
									.form-group
										%label.control-label Город
										=f.text_field :city, class:'form-control input-block-level'
									.form-group
										%label.control-label Адрес
										=f.text_field :address, class:'form-control input-block-level'
							.row
								.col-md-12
									.form-group
										%label.control-label Комментарий
										=f.text_area :comment, class:'form-control input-block-level'
						.modal-footer
							%button.btn{"data-dismiss"=>"modal", "aria-hidden"=>"true"}
								Отменить
							%button.btn.btn-primary{type:'submit'}
								Оформить заказ
-else
	%p.bg-primary
		Корзина пуста

-if @order.errors.any?
	:javascript
		$('#order-info').modal('show')			