%ul.nav.nav-tabs
  %li.active
    %a(href="#common" data-toggle="tab") Common
  %li
    %a(href="#seo" data-toggle="tab") SEO

= simple_form_for [:admin, @promotion], html: {class: 'form-horizontal' }, wrapper: :bootstrap do |f|
  .tab-content
    .tab-pane.active(id="common")
      = f.input :name
      = f.input :description, as: :ckeditor, input_html: {ckeditor: {toolbar: [{name: 'Edit', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ]}, {name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ]} ]}}
      = f.input :enabled
      = f.input :has_banner
      = f.input :banner, as: :image_preview, input_html: {preview_version: :thumb}
      = f.input :send_mail
      .row
        %label.col-sm-3.control-label
          Период проведения
        .col-sm-6
          c
          = f.input_field :start_at, as: :string
          по
          = f.input_field :end_at, as: :string

      = f.input :discount

      .row
        %label.select.optional.col-sm-3.control-label
          Категории
        .col-sm-9
          = render partial: 'ajax_selector', locals: {field_name: 'category', model_name: 'promotion', items: @promotion.categories, ajax_url: '/admin/categories/autocomplete'}

      .row
        %label.select.optional.col-sm-3.control-label
          Товары
        .col-sm-9
          = render partial: 'ajax_selector', locals: {field_name: 'product', model_name: 'promotion', items: @promotion.products, ajax_url: '/admin/products/autocomplete'}

    .tab-pane(id="seo")
      = render partial: 'seo', locals: {f: f}

  = f.button :submit
  = link_to 'Cancel', admin_promotions_path, class: 'btn btn-default'