%ul.nav.nav-tabs
  %li.active
    %a(href="#common" data-toggle="tab") Common
  %li
    %a(href="#seo" data-toggle="tab") SEO

= simple_form_for [:admin, @category] do |f|
  .tab-content
    .tab-pane.active(id="common")
      = f.input :name
      = f.input :description, as: :ckeditor, input_html: {ckeditor: {toolbar: [{name: 'Edit', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ]}, {name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ]}, {name: 'Other', items:['Source', 'Image', 'Table']} ]}}
      = f.input :enabled
      = f.input :external_id, as: :string, label: 'External id'
      = f.association :parent, label_method: lambda { |cat| cat.name_with_path }, collection: Category.all.sort {|a,b| a.name_with_path <=> b.name_with_path}
      = f.association :linked_categories
      = f.association :linked_products

      = f.input :image, as: :image_preview, input_html: {preview_version: :thumb}
    .tab-pane(id="seo")
      = render partial: 'seo', locals: {f: f}

  = f.button :submit
  = link_to 'Cancel', admin_categories_path, class: 'btn btn-default'
