%ul.nav.nav-tabs
  %li.active
    %a(href="#common" data-toggle="tab") Common
  %li
    %a(href="#seo" data-toggle="tab") SEO

= simple_form_for [:admin, @product], html: {class: 'form-horizontal' }, wrapper: :bootstrap do |f|
  .tab-content
    .tab-pane.active#common
      = f.input :name
      = f.input :description, as: :ckeditor, input_html: {ckeditor: {toolbar: [{name: 'Edit', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ]}, {name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ]} ]}}

      .form-group
        =f.label :variants, class: "col-sm-3 control-label"
        .col-sm-9
          %table.table.table-striped.variants_table
            %tr
              %td
                name
              %td
                sku
              %td
                price
              %td
                count
              %td
                enabled
              %td

            -f.object.variants.build unless f.object.variants.first
            = f.fields_for :variants do |variant|
              = render 'variant_fields', :f => variant
          = link_to_add_association 'Добавить', f, :variants, class: "btn btn-success btn-xs", "data-association-insertion-node" => ".variants_table", "data-association-insertion-method" => "append"

      = f.association :categories
      = f.association :linked_categories
      = f.association :linked_products

    #images.clearfix
      = f.label :images
      = f.simple_fields_for :images do |image|
        = render 'image_fields', :f => image
      = link_to_add_association raw('<div class="img-thumbnail"><span class="glyphicon glyphicon-plus"/></div>'), f, :images, {:'data-association-insertion-node'=> 'this'} 


    .tab-pane#seo
      = render partial: 'seo', locals: {f: f}

  = f.button :submit
  = link_to 'Cancel', admin_products_path, class: 'btn btn-default'