= form_for [:admin, @product], html: {class: 'form-horizontal' } do |f|
  .form-group
    =f.label :name, class: "col-sm-3 control-label"
    .col-sm-9
      =f.text_field :name, class: "form-control"

  .form-group
    =f.label :description, class: "col-sm-3 control-label"
    .col-sm-9
      =f.cktext_area :description, ckeditor: {toolbar: [{name: 'Edit', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ]}, {name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ]} ]}

  .form-group
    =f.label :variants, class: "col-sm-3 control-label"
    .col-sm-9
      %table.table.table-striped.variants_table
        %tr
          %td
            name
          %td
            sku
          %td
            price
          %td
            count
          %td
            enabled
          %td

        -f.object.variants.build unless f.object.variants.first
        = f.fields_for :variants do |variant|
          = render 'variant_fields', :f => variant
      = link_to_add_association 'Добавить', f, :variants, class: "btn btn-success btn-xs", "data-association-insertion-node" => ".variants_table", "data-association-insertion-method" => "append"
  %hr

  .form-group
    =f.label :images, class: "col-sm-3 control-label"
    .col-sm-9
      #images
        = f.fields_for :images do |image|
          =image_tag(image.object.image.url(:thumb))
          %br
          =link_to_remove_association "Удалить", image, class: "btn btn-danger btn-xs"
          %br
        = link_to_add_association 'Добавить', f, :images, class: "btn btn-success btn-xs"
  %hr

  .row
    %label.select.optional.col-sm-3.control-label
      Категории
    .col-sm-9
      = render partial: 'ajax_selector', locals: {field_name: 'category', model_name: 'product', items: @product.categories, ajax_url: '/admin/categories/autocomplete'}
  %hr

  .row
    %label.select.optional.col-sm-3.control-label
      Рекомендуемые товары
    .col-sm-9
      = render partial: 'ajax_selector', locals: {field_name: 'linked_product', model_name: 'product', items: @product.linked_products, ajax_url: '/admin/products/autocomplete'}
  %hr

  .row
    %label.select.optional.col-sm-3.control-label
      Категории с рекомендуемыми товарами
    .col-sm-9
      = render partial: 'ajax_selector', locals: {field_name: 'linked_category', model_name: 'product', items: @product.linked_categories, ajax_url: '/admin/categories/autocomplete'}
  %hr


  = render partial: 'seo', locals: {f: f}

  = f.button :submit
  = link_to 'Cancel', admin_products_path, class: 'btn btn-default'