%ul.nav.nav-tabs
  %li.active
    %a(href="#t1" data-toggle="tab") Common
  %li
    %a(href="#t2" data-toggle="tab") Images
  %li
    %a(href="#t3" data-toggle="tab") SEO

= simple_form_for [:admin, @product], html: {class: 'form-horizontal' }, wrapper: :bootstrap do |f|
  .tab-content
    .tab-pane.active(id="t1")
      = f.input :name
      = f.input :description
      = f.input :price
      = f.input :sku
      = f.input :count
      = f.input :enabled
      = f.association :categories, as: :check_boxes
      / - all_enabled_categories.each do |category|
      /   = check_box_tag "product[category_ids][]", category.id, @product.categories.include?(category)
      /   = category.name


    .tab-pane(id="t2")
      = f.simple_fields_for :images do |image|
        = render 'image_fields', :f => image
      = link_to_add_association 'add image', f, :images

    .tab-pane(id="t3")
      = render partial: 'seo', locals: {f: f}

  = f.button :submit
  = link_to 'Cancel', admin_products_path, class: 'btn btn-default'