%ul.nav.nav-tabs
  %li.active
    %a(href="#common" data-toggle="tab") Common
  %li
    %a(href="#seo" data-toggle="tab") SEO

= simple_form_for [:admin, @product], html: {class: 'form-horizontal' } do |f|
  .tab-content
    .tab-pane.active#common
      = f.input :name
      = f.input :sku
      = f.input :price
      = f.input :count
      = f.input :enabled

      / %table.table.variants
      /   %tr
      /     %td Name
      /     %td SKU
      /     %td Price
      /     %td Count
      /     %td Ena
      /     %td Action
      /   -#f.object.variants.build unless f.object.variants.first
      /   = f.fields_for :variants do |variant|
      /     = render 'variant_fields', :f => variant
      / = link_to_add_association 'Добавить вариант', f, :variants, class: "btn btn-success btn-xs", "data-association-insertion-node" => ".variants_table", "data-association-insertion-method" => "append"

      = f.input :description, as: :ckeditor, input_html: {ckeditor: {toolbar: [{name: 'Edit', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ]}, {name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ]} ]}}


      -if !Settings.disable_categories
        = f.association :categories
        = f.association :linked_categories
      = f.association :linked_products

      #images.clearfix.form-group
        = f.label :images, class: 'col-sm-3 control-label'
        %ul#sortable.col-sm-9
          = f.simple_fields_for :images do |image|
            = render 'image_fields', :f => image
          = link_to_add_association raw('<div class="img-thumbnail"><span class="glyphicon glyphicon-plus"/></div>'), f, :images, {:'data-association-insertion-node'=> 'this'} 


    .tab-pane#seo
      = render partial: 'seo', locals: {f: f}

  = f.button :submit
  = link_to 'Cancel', admin_products_path, class: 'btn btn-default'