%ul.nav.nav-tabs
  %li.active
    %a(href="#common" data-toggle="tab") Common
  %li
    %a(href="#seo" data-toggle="tab") SEO

= simple_form_for [:admin, @product], html: {class: 'form-horizontal' }, wrapper: :bootstrap do |f|
  .tab-content
    .tab-pane.active#common
      = f.input :name
      = f.input :description, as: :ckeditor, input_html: {ckeditor: {toolbar: [{name: 'Edit', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ]}, {name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ]} ]}}
      = f.input :price
      = f.input :sku
      = f.input :count
      = f.input :enabled
      /= f.association :categories

      /= f.association :linked_categories
      / = f.association :linked_products

      = f.association :categories
      = f.association :linked_categories
      = f.association :linked_products

    #images.clearfix
      = f.label :images
      = f.simple_fields_for :images do |image|
        = render 'image_fields', :f => image
      = link_to_add_association raw('<div class="img-thumbnail"><span class="glyphicon glyphicon-plus"/></div>'), f, :images, {:'data-association-insertion-node'=> 'this'} 


    .tab-pane#seo
      = render partial: 'seo', locals: {f: f}

  = f.button :submit
  = link_to 'Cancel', admin_products_path, class: 'btn btn-default'