=render '/categories/breadcrumbs'

#notice
  =notice

#content{itemscope:'', itemtype:"http://schema.org/Product"}
  %h1{itemprop:"name"}
    =@title
  #product-info
    / -if @product.images.count >5
    /   .row
    /     .col-md-2.col-md-offset4.col-sm-2.col-sm-offset4.prev.icon-angle-up
    -if @product.sku['expertfisher_']
      %ul#lightSlider
        -@product.images.each do |img|
          %li
            =image_tag(img.image.url(:expertfisher), {itemprop:"image", title:@product.name, alt:@product.name})
    -else
      .main-img.pull-left
        =link_to(image_tag(@product.images.first.image.url(:product_page), {itemprop:"image", title:@product.name, alt:@product.name}), @product.images.first.image.url, class:"fancybox") if @product.images.first
        -if @product.images.count >1
          .col-sm-2.col-md-2.images_thumbs
            %ul
              -@product.images[1..-1].each do |img|
                %li
                  .image_thumb
                    =link_to(image_tag(img.image.url(:thumb), itemprop:"image", title:@product.name, alt:@product.name), img.image.url, class:"fancybox")
          :javascript
            $(document).ready(function($) {
              $(".images_thumbs").jCarouselLite({
                btnNext: ".next",
                btnPrev: ".prev",
                visible: 4
              });
            });
    .description{itemprop:"description"}
      -if @product.variants.count==1
        %p
          %strong Артикул:
          =@product.variants.first.sku

      =raw @product.description
      -if @product.variants.count==1
        = form_for @cart_item do |f|
          .price{itemprop:"offers", itemscope:'', itemtype:"http://schema.org/Offer"}
            = f.hidden_field :product_id
            %input(type="hidden" value="#{@product.variants.first.id}" name="cart_item[variant_id]")
            %strong Наличие
            =@product.variants.first.availability
            %br
            %strong Цена
            =raw @product.variants.first.price_str
            -if Settings.hide_count_in_product
              = f.hidden_field :quantity
              %button.btn.btn-sm.btn-primary{type:'submit'}
                %span.glyphicon.glyphicon-shopping-cart
                Купить
            -else
              .input-group.buy_button
                %span.input-group-btn
                  %button.btn.btn-primary{type:'submit'}
                    %span.glyphicon.glyphicon-shopping-cart
                    Купить
                = f.text_field :quantity, class: 'form-control'
                %span.input-group-addon 
                  шт.  

      -if @product.attr
        %table.table.table-condensed.attributes
          -@product.attr.keys.each do |key|
            %tr
              %td
                =key
              %td
                =@product.attr[key]
        -if @product.attr.keys.count > 5 
          %a.show-all{href:'#'}
            Показать все
          

         
    -if @product.variants.count>1
      %table.table.table-striped
        %tr
          -if @product.variants.first.image?
            %th
          -if @product.variants.first.name
            %th Имя
          -else
            %th Артикул
          -@product.variants.first.attr.keys.each do |attr|
            %th= attr
          %th Наличие
          %th Цена
          %th Купить

        -@product.variants.enabled.each do |variant|
          %tr  
            = form_for @cart_item do |f|
              = f.hidden_field :product_id
              %input(type="hidden" value="#{variant.id}" name="cart_item[variant_id]")
                -if @product.variants.first.image?
                  %td
                    -if variant.image?
                      =image_tag(variant.image.url(:thumb))
                %td
                  -if variant.name 
                    =variant.name
                    %br
                    %small
                      Артикул:
                      =variant.sku                   
                  -else
                    =variant.sku                   
                -variant.attr.keys.each do |attr|
                  %td= variant.attr[attr]
                %td 
                  =variant.availability
                %td 
                  =raw variant.price_str
                %td
                  -if Settings.hide_count_in_product
                    = f.hidden_field :quantity
                    %button.btn.btn-sm.btn-primary{type:'submit'}
                      %span.glyphicon.glyphicon-shopping-cart
                      Купить
                  -else
                    .input-group.buy_button.input-group-sm
                      %span.input-group-btn
                        %button.btn.btn-primary{type:'submit'}
                          %span.glyphicon.glyphicon-shopping-cart
                          Купить
                      = f.text_field :quantity, class: 'form-control'
                      %span.input-group-addon 
                        шт.  


    / -if @product.images.count >5
    /   .row
    /     .col-sm-2.col-sm-offset4.col-md-2.col-md-offset4.next.icon-angle-down

  -if ! @linked.empty?
    #related.row
      %h2 Связанные товары
      - @linked.each do |product|
        =render "/products/show_item", product: product, category: nil, :cart_item=>@current_cart.cart_items.new(product_id: product.id, quantity:1)
